{% extends 'base.html.twig' %}

{% block title %}Edit Participant{% endblock %}

{% block body %}
    <div class="text-center symfony-form">
        <h1>Mon profil</h1>

        {{ form_start(form) }}

        <!-- Formulaire -->
        <div class="row">
            <!-- Col Photo -->
            <div class="col-lg-4">
                <img src="https://source.unsplash.com/250x200/?people" style="margin-top:50px;" />
            </div>

            <div class="col-lg-8">

                <label>Pseudo : </label>
                {{ form_widget(form.pseudo) }} <br/>

                <label>Prénom : </label>
                {{ form_widget(form.prenom) }} <br/>

                <label>Nom : </label>
                {{ form_widget(form.nom) }} <br/>

                <label>Téléphone : </label>
                {{ form_widget(form.telephone) }} <br/>

                <label>Email : </label>
                {{ form_widget(form.email) }} <br/>

                <label>Site : </label>
                {{ form_widget(form.site.nom) }} <br/>

                <label>Ancien mot de passe : </label>
                <input class="form-select" type="password" name="_oldPassword" required /><br/>

                <label>Nouveau mot de passe : </label>
                {{ form_widget(form.plainPassword) }} <br/>

                <label>Confirmation du mot de passe : </label>
                <input class="form-select" type="password" name="_confirm" /><br/>

                {% if error_message != null %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_message }}
                    </div><br/>
                {% endif %}

                {% if not form.vars.valid %}
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for child in form.children %}
                                {% for error in child.vars.errors %}
                                    <li>{{error.message}}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div><br/>
                {% endif %}

                {% if success_message != null %}
                    <div class="alert alert-success" role="alert">
                        {{ success_message }}
                    </div><br/>
                {% endif %}

                <!-- Controles -->
                <button class="btn btn-success" style="border-radius:25px;">Enregistrer</button>
                <a href="{{ path('sortie_index') }}" class="btn btn-danger" style="border-radius:25px;">Annuler</a>

            </div>
        </div>

        {{ form_end(form) }}

    </div>
{% endblock %}
