{% extends 'base.html.twig' %}

{% block title %}Edit Participant{% endblock %}

{% block body %}
    <div class="text-center symfony-form">
        <h1>Mon profil</h1>

        {{ form_start(form) }}

        <!-- Formulaire -->
        <div class="row">
            <!-- Col Photo -->
            <div class="col-lg-4">
                {% if participant.photo != null %}
                    <img src="{{ app.request.getBaseURL() }}/images/{{participant.photo}}" style="margin-top:50px;width:300px;" />
                {% else %}
                    <img src="{{ app.request.getBaseURL() }}/images/profil-vide.jpg" style="margin-top:50px;width:300px;" />
                {% endif %}
            </div>

            <div class="col-lg-8">

                <label>Pseudo : </label>
                {{ form_widget(form.pseudo) }} <br/>

                <label>Prénom : </label>
                {{ form_widget(form.prenom) }} <br/>

                <label>Nom : </label>
                {{ form_widget(form.nom) }} <br/>

                <label>Téléphone : </label>
                {{ form_widget(form.telephone) }} <br/>

                <label>Email * : </label>
                {{ form_widget(form.email) }} <br/>

                <label>Photo de profil : </label>
                {{ form_widget(form.photo) }} <br/>

                <label>Site : </label>
                {% if app.user.roles[0] == "ROLE_ADMIN" %}
                    <select class="form-select" name="_site">
                        {% for site in sites %}
                            <option value="{{ site.id }}" {% if participant.site.id == site.id %}selected{% endif %}>{{ site.nom }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <select class="form-select" name="_site">
                            <option value="{{ participant.site.id }}">{{ participant.site.nom }}</option>
                    </select>
                {% endif %}
                <br/>

                <label>Saisir le mot de passe * : </label>
                <input class="form-select" type="password" name="_oldPassword" required /><br/>

                <div style="border: 1px solid white;border-radius:25px;padding:15px;">
                    <label>Nouveau mot de passe : </label>
                    {{ form_widget(form.plainPassword) }} <br/>

                    <label>Confirmation du mot de passe : </label>
                    <input class="form-select" type="password" name="_confirm" />
                </div>
                <br/>

                {% if error_message != null %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_message }}
                    </div><br/>
                {% endif %}

                {% if not form.vars.valid %}
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for child in form.children %}
                                {% for error in child.vars.errors %}
                                    <li>{{error.message}}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div><br/>
                {% endif %}

                {% if success_message != null %}
                    <div class="alert alert-success" role="alert">
                        {{ success_message }}
                    </div><br/>
                {% endif %}

                <!-- Controles -->
                <button class="btn btn-success" style="border-radius:25px;">Enregistrer</button>
                <a href="{{ path('sortie_index') }}" class="btn btn-danger" style="border-radius:25px;">Annuler</a>

            </div>
        </div>

        {{ form_end(form) }}

    </div>
{% endblock %}
