{% extends 'base.html.twig' %}

{% block title %}Participant index{% endblock %}

{% block body %}
    <div class="text-center symfony-index">

        <h1>Liste des utilisateurs</h1>

        <table class="table table-striped bg-white" style="margin-top:45px;">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Actif</th>
                    <th>Admin</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for participant in participants %}
                    <tr>
                        <td>{{ participant.nom }}</td>
                        <td>{{ participant.prenom }}</td>
                        <td>
                            {% if participant.actif %}
                                <i class="fas fa-check"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% for role in participant.roles %} 
                                {% if role == 'ROLE_ADMIN' %}
                                    <i class="fas fa-check"></i>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                        <!-- Si ce n'est pas l'utilisateur connecté -->
                        {% if participant.id != app.user.id %}
                            <!-- Si c'est un admin -->
                            {% set user_admin = false %}
                            {% for role in participant.roles %} 
                                {% if role == 'ROLE_ADMIN' %}
                                    <span>Cet utilisateur est un admin</span>
                                    {% set user_admin = true %}
                                {% endif %}
                            {% endfor %}
                            <!-- Si c'est un utilisateur lambda -->
                            {% if user_admin == false %}
                                {% if participant.actif %}
                                    <a href="{{ path('participant_desactive', {id : participant.id}) }}" class="btn btn-warning text-white" style="border-radius:25px;"> Désactiver </a>
                                {% else %}
                                    <a href="{{ path('participant_active', {id : participant.id}) }}" class="btn btn-success" style="border-radius:25px;"> Activer </a>
                                {% endif %}
                                <a href="{{ path('participant_edit', {id : participant.id}) }}" class="btn btn-warning text-white" style="border-radius:25px;"> Modifier </a>

                                <a href="{{ path('participant_delete', {id : participant.id}) }}" class="btn btn-danger" style="border-radius:25px;"> Supprimer </a>
                            {% endif %}
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('participant_new') }}" class="btn btn-success text-white text-center mt-3"
                   style="border-radius:25px;">Créer un utilisateur</a>
    </div>
{% endblock %}
