{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <div class="text-center symfony-index">

        <!-- Date + Nom -->
        <div class="row">
            <div class="col" style="text-align:right;">
                <h5><b>Date du jour : {{ "now"|date("d/m/Y") }}</b></h5>
                <h5><b>Participant : {{ app.user.prenom }} {{ app.user.nom }}</b></h5>
            </div>
        </div>


        <!-- Filtre -->
        <div class="row symfony-block" style="margin-top:45px;">

            <div class="col" style="text-align:left;">
                <h6><b>Filtrer les sorties : </b></h6>
                <br/>

                <label>Site : </label>
                <select>
                    <option>Saint Herblain</option>
                </select>
                <br/><br/>

                <label>Le nom de la sortie contient : </label>
                <input type="text" placeholder="search"/>
                <br/><br/>

                <div class="row">
                    <div class="col">
                        <label>Entre : </label>
                        <input type="date"/>
                    </div>
                    <div class="col">
                        <label> et : </label>
                        <input type="date"/>
                    </div>
                </div>
            </div>

            <div class="col" style="text-align:left;">
                <input type="checkbox" id="check1" name="check1" checked>
                <label for="check1">Sorties dont je suis l'organisateur</label>
                <br/><br/>

                <input type="checkbox" id="check2" name="check2" checked>
                <label for="check2">Sorties auxquelles je suis inscrit</label>
                <br/><br/>

                <input type="checkbox" id="check3" name="check3" checked>
                <label for="check3">Sorties auxquelles je ne suis pas inscrit</label>
                <br/><br/>

                <input type="checkbox" id="check4" name="check4" checked>
                <label for="check4">Sorties passées</label>
            </div>

            <div class="col">
                <button class="btn btn-lg btn-black text-white" style="border-radius:25px;margin-top:15%;">Rechercher
                </button>
            </div>


        </div>

        {% if success_message != null %}
            <div class="row" style="margin-top:45px;">
                <div class="col">
                    <div class="alert alert-success" role="alert">
                        {{ success_message }}
                    </div>
                </div>
            </div>
        {% endif %}


        <!-- Tableau résultats -->
        <div class="row" style="margin-top:25px;">
            <div class="col" style="overflow-y:scroll; height:250px;">
                <table class="table table-striped bg-white">
                    <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture des inscriptions</th>
                        <th>Inscrits / Places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sortie in sorties %}
                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateDebut ? sortie.dateDebut|date('d/m/Y') : '' }}</td>
                            <td>{{ sortie.dateCloture ? sortie.dateCloture|date('d/m/Y') : '' }}</td>
                            <td>{{ sortie.participants|length }} / {{ sortie.nbInscriptionsMax }}</td>
                            <td>
                                {{ sortie.etat.libelle }}
                                {% if sortie.etat.libelle == "Annulee" %}
                                    <i class="fas fa-info-circle" title="{{ sortie.getMotifAnnulation() }}"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if app.user in sortie.participants %}
                                    <i class="fas fa-check"></i>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ app.request.getBaseURL() }}/participant/{{ sortie.organisateur.id }}"
                                   class="text-dark">
                                    {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}
                                </a>
                            </td>
                            <td>
                                {% if sortie.organisateur.id != app.user.id %}
                                    {% if sortie.etat.libelle == "Ouvert" %}
                                        {% if app.user in sortie.participants %}
                                            <a href="{{ app.request.getBaseURL() }}/sortie/unsubscribe/{{ sortie.id }}"
                                               class="btn btn-danger" style="border-radius:25px;"> Se désinscrire </a>
                                        {% else %}
                                            <a href="{{ app.request.getBaseURL() }}/sortie/register/{{ sortie.id }}"
                                               class="btn btn-success" style="border-radius:25px;"> S'inscrire </a>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {% if sortie.etat.libelle == "Ouvert" %}
                                        <a href="{{ app.request.getBaseURL() }}/sortie/cancel/{{ sortie.id }}"
                                           class="btn btn-danger" style="border-radius:25px;"> Annuler </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col" style="text-align:left;">
                <a href="{{ path('sortie_new') }}" class="btn btn-primary text-white text-center mt-3"
                   style="border-radius:25px;">Créer une sortie</a>
            </div>
        </div>

    </div>
{% endblock %}
