{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}

    <div class="symfony-form">
        <h1 class="display-4">{{ sortie.nom }}</h1>
        <div class="row text-white m-5">
            <!-- colonne 1 -->
            <div class="col">
                <p>
                    <span class="fw-bold">Date de la sortie</span> : {{ sortie.dateDebut | date('d/m/Y') }}
                </p>

                <p>
                    <span class="fw-bold">Date limite d'inscription</span> : {{ sortie.dateCloture | date('d/m/Y') }}
                </p>

                <p>
                    <span class="fw-bold">Nombre d'inscriptions maximales</span> : {{ sortie.nbInscriptionsMax }}
                </p>

                <p>
                    <span class="fw-bold">Durée</span> : {{ sortie.duree }} jours
                </p>

                <p>
                    <span class="fw-bold">Image mis en avant</span> : {{ sortie.urlPhoto }}
                </p>

                <p>
                    <span class="fw-bold">Description</span> : {{ sortie.descriptionInfos }}
                </p>
            </div>

            <!-- colonne 2 -->
            <div class="col">
                <p>
                    <span class="fw-bold">Ville organisatrice</span> : {{ sortie.organisateur.site.nom }}
                </p>

                <p>
                    <span class="fw-bold">Ville</span> : {{ sortie.lieu.ville.nom }}
                </p>

                <p>
                    <span class="fw-bold">Lieu</span> : {{ sortie.lieu.nom }}
                </p>

                <p>
                    <span class="fw-bold">Rue</span> : {{ sortie.lieu.rue }}
                </p>

                <p>
                    <span class="fw-bold">Longitude</span> : {{ sortie.lieu.longitude }}
                </p>

                <p>
                    <span class="fw-bold">Latitude</span> : {{ sortie.lieu.latitude }}
                </p>
            </div>
        </div>

        <h2 class="display-5 mt-4">Liste des participants</h2>
        <table class="table bg-white">
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in sortie.participants %}
                <tr>
                    <td>{{ participant.pseudo }}</td>
                    <td>{{ participant.nom }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">Il n'y a aucun participant inscrit à cette sortie</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
