<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

        <!-- Style custom -->
        <style>
            .html {
                /*font-family: 'Dancing Script', cursive;*/
            }

            .symfony-form {
                margin-left:15%;
                margin-right:15%;
                margin-top:2%;
                color: white;
                /* background-color: #363636; */
                background-color: #448cac;
                border-radius: 25px;
                border: 5px solid #f2e80e;
                padding: 20px;
            }

            .symfony-index {
                margin-left:5%;
                margin-right:5%;
                margin-top:1%;
                color: white;
                /* background-color: #363636; */
                background-color: #448cac;
                border-radius: 25px;
                border: 5px solid #f2e80e;
                padding: 10px;
                height: 80vh;
            }

            .symfony-block {
                margin-left:2%;
                margin-right:2%;
                color: white;
                /* background-color: #363636; */
                background-color: #cca45c;
                border-radius: 25px;
                border: 1px solid #f2e80e;
                padding: 5px;
            }

            body{
                /*background-image: url("https://source.unsplash.com/1920x1080/?color");
                background-size: cover;*/
                background-color: #042444;
                margin-bottom: 100px;
                /* background-blend-mode: luminosity; */
            }

            .form-label {
                color: white;
            }

            .navbar {
                background-color: #65c1d5;
            }
        </style>

    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a href="{{ path('sortie_index') }}" class="navbar-brand text-black">
                    <img src="{{ app.request.getBaseURL() }}/images/logo.png" height="45px" />
                </a>
                {% if app.user %}
                    <div class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#monMenuDeroulant">
                        <span class="navbar-toggler-icon"></span>
                    </div>
                    <div class="collapse navbar-collapse flex-grow-1 text-right" id="monMenuDeroulant">
                        <ul class="navbar-nav ms-auto flex-nowrap">
                            <li class="nav-item">
                                <a href="{{ path('sortie_index') }}" class="nav-link text-black">Accueil</a>
                            </li>
                            {% if app.user.roles[0] == "ADMIN" %}
                                <li class="nav-item">
                                    <a href="{{ path('participant_new') }}" class="nav-link text-black">Ajouter un participant</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('ville_index') }}" class="nav-link text-black">Gérez les villes</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a href="{{ path('participant_edit', {id : app.user.id}) }}" class="nav-link text-black">Mon profil</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_logout') }}" class="nav-link text-black">Se déconnecter</a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </nav>

        {% block body %}{% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
