<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />

        <!-- Style custom -->
        <style>
            .symfony-form {
                margin-left:15%;
                margin-right:15%;
                margin-top:2%;
                /* color: white; */
                color: black;
                /* background-color: #363636; */
                background-color: #65c1d5;
                border-radius: 25px;
                border: 5px solid #fa9c14;
                padding: 20px;
            }

            .symfony-index {
                margin-left:5%;
                margin-right:5%;
                margin-top:1%;
                /* color: white; */
                color: black;
                /* background-color: #363636; */
                background-color: #65c1d5;
                border-radius: 25px;
                border: 5px solid #fa9c14;
                padding: 10px;
                height: 80vh;
            }

            .symfony-block {
                margin-left:2%;
                margin-right:2%;
                /* color: white; */
                color: black;
                /* background-color: #363636; */
                background-color: #65c1d5;
                border-radius: 25px;
                border: 1px solid #fa9c14;
                padding: 5px;
            }

            body{
                background-image: url("https://source.unsplash.com/1920x1080/?color");
                background-size: cover;
                margin-bottom: 100px;
                /* background-blend-mode: luminosity; */
            }

            .form-label {
                color: white;
            }
        </style>

    </head>
    <body>
        <nav class="navbar navbar-primary bg-primary">
            <div class="container-fluid">
            <a href="{{ path('sortie_index') }}" class="navbar-brand text-white">Sortir.com</a>
            {% if app.user %}
                <a href="{{ path('sortie_index') }}" class="text-white" style="margin-left:65%;">Accueil</a>
                {% if app.user.roles[0] == "ADMIN" %}
                    <a href="{{ path('participant_new') }}" class="text-white">Ajouter un participant</a>
                {% endif %}
                <a href="{{ path('participant_edit', {id : app.user.id}) }}" class="text-white">Mon profil</a>
                <a href="{{ path('app_logout') }}" class="text-white">Se déconnecter</a>
            {% endif %}
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
